* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

h1 {
  color: rgb(37, 19, 3);
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0;
}

a {
  color: black;
}
h2 {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

h3 {
  color: rgb(37, 19, 3);
  width: 100%;
}
.titles {
  background-color: sandybrown;
  padding: 15px;
}

.titles:hover {
  transform: scale(1);
  transition: ease-in-out;
  padding: 15px;
  color: white;
  background: linear-gradient(
    to right,
    /*
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)*/
  );
  border-radius: 15px;
  box-shadow: inset 0 100px 0 0 black;
}

h4 {
  color: rgb(37, 19, 3);
}

.FondoGris {
  background-color: rgb(229, 153, 88);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  background-color: rgb(255, 213, 174);
}
.imgheader {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.imgbtc {
  height: 50px;
  width: 50px;
}
.imgh2 {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.Altobr {
  height: 100px;
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Fondosand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(255, 213, 174);
  flex-wrap: wrap;
}

.leyendas {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.proyectos {
  display: flex;
  position: relative;
  height: 100px;
  z-index: 0;
}

.cappoz {
  text-size-adjust: auto;
}

.infoexp {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.projectlinks {
  display: flex;
  flex-direction: column;
}

.lttn {
  font-weight: bold;
}
/*.info:hover {
  transform: scale(1);
  transition: ease-in-out;
}*/
.ltb {
  font-weight: bold;
}

.footer {
  background-color: sandybrown;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
  align-items: center;
}

.nosaltar {
  white-space: nowrap;
}

.row {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50 px;
}

.column {
  display: flex;
  position: relative;
}

.flexboxcontainer {
  display: flex;
}

.flexboxitem {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
}

.flexboxitem1 {
  min-height: 100px;
}
.flexboxitem2 {
  min-height: 100px;
}
.flexboxitem3 {
  min-height: 100px;
}

marquee {
  color: rgb(37, 19, 3);
  margin: 0;
}

max-height: 100px;
margin: 10px;
background-color: #000;
display: row;
box-orient: horizontal;
box-pack: center;
box-align: center;
